.sidebar-nav-item:hover {
    .sidebar-item {
        background: $beige;
        width: 100%;
        padding: 8px 0 8px 15px;

        .btn {
            background: transparent;
        }
    }
}

.sidebar-item {
    color: black;
    padding: 8px 0 8px 0;
    border-radius: 100px;
    transition: .2s ease-in-out;

    &:not(.active) {
        .btn {
            background: $beige;
        }
    }

    &.active {
        background: $beige;
        width: 100%;
        padding: 8px 0 8px 15px;
    }
}

.sidebar-name-block {
    color: black;
}