.h-lg-87 {
    height: 100%;

    @media (min-width: 992px) {
        height: 87%;
    }
}

.radius-26 {
    border-radius: 26px
}

.radius-6 {
    border-radius: 0 6px 6px;
}

.navbar-header-2 {
    display: none;

    @media (min-width: 1025px) {
        display: flex;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
}

::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 7px;
    background: #9BB8ED;
}

.bg-crimson, .bg-light-steel-blue, .bg-thistle, .bg-light-yellow {
    --in-bg-opacity: 0.4;
}

$shadows: (
    light-black: 0px 2px 8px 0px rgba(0, 0, 0, 0.08),
);

@each $shadowName, $shadow in $shadows {
    .shadow-#{$shadowName} {
        box-shadow: $shadow;
    }
}

.hover-element {
    :hover {
        cursor: pointer;
    }
}

@for $i from 1 through 1000 {
    .hp-#{$i} {
        height: #{$i}px;
    }

    .wp-#{$i} {
        width: #{$i}px;
    }
}

@for $i from 1 through 300 {
    .radius-#{$i} {
        border-radius: #{$i}px;
    }
}

i {
    &:not(.fs-) {
        font-size: 16px;
    }
}