::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
}

::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 7px;
    background: #9BB8ED;
}


@for $i from 1 through 300 {
    .radius-#{$i} {
        border-radius: #{$i}px;
    }

    .scale-#{$i} {
        scale: #{1 + $i / 10};
    }
}

.fontf-McLaren {
    font-family: "McLaren";
}

i {
    &:not(.fs-) {
        font-size: 16px;
    }
}

@for $i from 1 through 500 {
    .hp-#{$i} {
        height: #{$i}px;
    }

    .wp-#{$i} {
        width: #{$i}px;
    }

    .pxc-#{$i} {
        padding-left: #{$i}px;
        padding-right: #{$i}px;
    }

    .pyc-#{$i} {
        padding-top: #{$i}px;
        padding-bottom: #{$i}px;
    }
}

[data-sidebar-size="sm"] {
    .avatar-block {
        display: none !important;
    }
}


